#gfg {
  margin: 10px;
}

@media (max-width: 1080px) {
  .fundalogo {
    width: 500px;
  }
}
@media (max-width: 800px) {
  .fundalogo {
    width: 500px;
  }
}
@media (max-width: 450px) {
  .fundalogo {
    width: 300px;
  }
}
@media (max-width: 350px) {
  .fundalogo {
    width: 250px;
  }
}




.mat-grid-tile-content{
    height:40px;
}

.matriculaContainer {
  position: relative;
  height: auto;
  border: 3px solid lightgray;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}



.centrado {
  display: flex;
  align-items: center;
  justify-content: center;
}

.negrita{
    font-weight: bolder;
}

.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-mdc-form-field {
  margin-top: 16px;
}
